<li id="work-<%= work.id %>">
  <span class="date"><%= work.date%></span>
  <span class="start-time"><%= work.start_time.strftime("%H:%M") %></span>
  <span class="end-time"><%= work.end_time.strftime("%H:%M") %></span>
  <span class="total_hours"><%= work.total_hours %></span>
</li>