<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
      function clockIn() {
        // 出勤ボタンがクリックされたときの処理
        if (confirm('本当に出勤しますか？')) {
          document.getElementById('work_start_time').value = getCurrentTime();
        }
      }

      function clockOut() {
        // 退勤ボタンがクリックされたときの処理
        if (confirm('本当に退勤しますか？')) {
          document.getElementById('work_end_time').value = getCurrentTime();
        }
      }

      function getCurrentTime() {
        // 現在の時刻を取得する関数
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();

        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;

        return hours + ':' + minutes;
      }
      

      function enterDate() {
        // 隠しフィールドに現在の日付と時刻を設定
        if (confirm('本当に退勤しますか？')) {
          var now = new Date();
          var localDate = new Date(now.getTime() - now.getTimezoneOffset() * 60000);
          var formattedDate = localDate.toISOString().split('T')[0];
          document.getElementById('hidden-date').value = formattedDate;
        }
      }
    </script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <footer>
        <p>&copy; 2024 furusemaru</p>
    </footer>
  </body>
</html>